<div class="mainSection">
    <div class="content container">
        <div class="fadedText">
            <span>Ever wanted to gain a new</span>
            <div class="text">
                <div class="text-one">habit</div>
                <div class="text-two">skill</div>
                <div class="text-three">talent</div>
                <div class="text-four">hobby</div>
                <div class="text-five">. . .</div>
            </div>
        </div>
    </div>
</div>


<div id="start">
    <div class="content container">
        <div class="steps">
            <h1> Step 1: Pick a Habit</h1>
            <p>It could be anything!</p>

        </div>
        <div class="steps">
            <h1>Step 2: Set your goals</h1>
            <p>Short term or long term goals</p>   
        </div>
        <div class="steps">
            <h1>Step 3: Stay motivated</h1>
            <p>Consistency is key!</p>
        </div>
    </div>
</div>