<% include header %>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home"><h1>Habits</h1></a>
      </div><!-- navbar-header -->
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#start">Getting started</a></li>
          <li><a href="#mission">Mission</a></li>          
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle = "dropdown">Login<span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                  <li>
                     <div class="row">
                         <div class="col-md-12">
                             <form method="post" class="form" role="form" id="login-form" action="/login">
                                 <div class="form-group">
                                     <label class="sr-only" for="email">Email Address</label>
                                     <input type="email"  id = "email" name = "email" class="form-control" placeholder="Email Address" >
                                 </div>
                                 <div class="form-group">
                                     <label class="sr-only" for="password">Password</label>
                                     <input type="password"  id="password" name="password" class="form-control" placeholder="Password" >
                                 </div>
                                 <div class="form-group">
                                     <button type="submit" class= "btn btn-primary btn-block">Sign in</button>
                                 </div>
                                 <div class="checkbox">
                                     <label>
                                     <input type="checkbox">Remember me
                                     </label>
                                 </div>
                             </form>
                         </div>
                     </div>
                  </li>
              </ul>
          </li> <!--Login dropdown-->
          <li  class="dropdown"><a href="#" class="dropdown-toggle" data-toggle = "dropdown" >Sign up<span class="caret"></span></a>
            <ul id="signup-dp" class="dropdown-menu">
              <li>
                <div class="row">
                     <div class="col-md-12">
                         <form action="/signup"  method="post" class="form" role="form" id="signup-form" >
                             <div class="form-group">
                                 <label class="sr-only" for="email">Email Address</label>
                                 <input type="email" id="email" name= "email" class="form-control" placeholder="Email Address" >
                             </div>
                             <div class="form-group">
                                 <label class="sr-only" for="pw">Password</label>
                                 <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                             </div>
                             <div class="form-group">
                                 <label class="sr-only" for="pwAgain">Re-enter Password</label>
                                 <input type="password" id="pwAgain" name="pwAgain" class="form-control" placeholder="Re-enter Password">
                             </div>
                             <div class="form-group">
                                 <button type="submit" class= "btn btn-primary btn-block">Sign up</button>
                             </div>
                             <div class="checkbox">
                                 <label>
                                 <input type="checkbox">Remember me
                                 </label>
                             </div>
                         </form>
                     </div>
                </div>
              </li>
            </ul>
          </li> <!--Signup dropdown-->
        </ul>        
      </div><!-- collapse navbar-collapse -->
    </div><!-- container -->

