<% include ./partials/topnavbar %>

<% if( loginError !== '' ) { %>
	<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<%= loginError %>
	</div>
<% } %>
<%if(loginSuccess !== '') {%>
<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<%= loginSuccess.message %>
	</div>
<%} %>

<% include ./partials/mainContent.ejs%>


<%include ./partials/bottom %>