<% include ./partials/usernavbar.ejs %>

<%if(loginSuccess !== '') {%>
<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p> Welcome! <%=email%> </p>
	</div>
<%} %>



<% include ./partials/bottom.ejs %>