@import url("https://fonts.googleapis.com/css?family=Questrial");
body {
  margin: 0px;
  padding: 0px;
  font: 16px  "Questrial","Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.navbar-default {
  background-color: transparent;
  border: none; }

#login-dp, #signup-dp {
  padding: 15px; }

#collapse {
  max-height: 500px; }

.navbar-nav {
  margin: 8px; }

.navbar-brand {
  margin-bottom: 8px;
  padding-top: 0px;
  padding-left: 10px; }

@keyframes fade-in {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes blank {
  from {
    opacity: 0; }
  to {
    opacity: 0; } }

.text-one {
  opacity: 1;
  color: #a16;
  display: inline;
  animation: blank 12s;
  margin-left: 10px; }

.text-two {
  opacity: 0;
  display: inline;
  position: relative;
  margin-left: -115px;
  -webkit-animation: fade-in 3.5s;
  animation: fade-in 3.5s; }

.text-three {
  opacity: 0;
  display: inline;
  position: relative;
  margin-left: -90px;
  -webkit-animation: fade-in 3.5s;
  -webkit-animation-delay: 3s;
  animation: fade-in 3.5s;
  animation-delay: 3s; }

.text-four {
  opacity: 0;
  display: inline;
  position: relative;
  margin-left: -135px;
  -webkit-animation: fade-in 3.5s;
  -webkit-animation-delay: 6s;
  animation: fade-in 3.5s;
  animation-delay: 6s; }

.text-five {
  opacity: 0;
  display: inline;
  position: relative;
  margin-left: -143px;
  -webkit-animation: fade-in 3.5s;
  -webkit-animation-delay: 9s;
  animation: fade-in 3.5s;
  animation-delay: 9s; }

.text {
  display: inline; }

.fadedText .text, .fadedText span {
  font-weight: 700;
  font-size: 3em;
  text-align: center; }

.mainSection {
  background-color: #99CC99;
  height: 450px; }

#start {
  background-color: #fffff0; }

.steps {
  display: inline-block;
  text-align: center;
  margin: 15px; }

/*# sourceMappingURL=style.css.map */